spring:
  data:
    redis:
      host: 3.38.250.131
      port: 6379
      password: ${DB_PASSWORD}
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jwt:
    secret: ${JWT_SECRET}
  cache:
    redis:
      host: 3.38.250.131
      port: 6379
      password: ${DB_PASSWORD}


  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
      naming.physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  server:
    tomcat:
      use-relative-redirects: true
